In [1]:
import xml.etree.ElementTree as ET
import json
import re
from tqdm import tqdm
import pandas as pd
import torch
import numpy as np
import random
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity
from scipy.spatial.distance import cdist

In [2]:
def same_seeds(seed):
    torch.manual_seed(seed)
    if torch.cuda.is_available():
        torch.cuda.set_device(3)
    np.random.seed(seed)
    random.seed(seed)
    torch.backends.cudnn.benchmark = False
    torch.backends.cudnn.deterministic = True
same_seeds(42)

In [3]:
train_ans = pd.read_csv('dataset/train_ans.csv')
train_ans.head()

   topic                                                doc
0      2  2740164 2759595 2759599 2767143 2911928 291756...
1      4  1459158 2529301 2700561 2769425 2835690 283699...
2      6  1533809 1910597 2503992 2577108 2703746 272215...
3      9  1090616 1679810 2627448 2629012 2645689 271457...
4     11  1892007 2275746 2503962 2516438 2688349 276296...

In [4]:
train_ans['doc'] = train_ans['doc'].str.strip(',').str.split(' ')
train_ans.head()

   topic                                                doc
0      2  [2740164, 2759595, 2759599, 2767143, 2911928, ...
1      4  [1459158, 2529301, 2700561, 2769425, 2835690, ...
2      6  [1533809, 1910597, 2503992, 2577108, 2703746, ...
3      9  [1090616, 1679810, 2627448, 2629012, 2645689, ...
4     11  [1892007, 2275746, 2503962, 2516438, 2688349, ...

In [5]:
train_ans.to_csv('train_answer.csv', index=False)

In [3]:
with open('dataset/train_query.txt') as json_file:
    tr_data = json.load(json_file)
    idx = []
    cont = []
    for p in tr_data['train_query']:
        idx.append(p['index'])
        txt = p['note'].strip()
        cont.append(' '.join(' '.join([line.strip() for line in i.strip().splitlines()]).split()))

In [4]:
train_query = pd.DataFrame({'topic':idx, 'train_query':cont})
train_query["topic"] = pd.to_numeric(train_query["topic"])
train_query = train_query.sort_values(by=['topic']).reset_index(drop=True)
train_query.head()

   topic                                        train_query
0      2  Ms [**Known patient lastname 241**] is a [**Ag...
1      4  The patient is an 87 yo woman with h/o osteopo...
2      6  This is a [**Age over 90 **] year old female w...
3      9  Infant is a 24 [**1-31**] week, 678 gm male tr...
4     11  Mr. [**Name13 (STitle) 5827**] is an 80yo M wi...

In [12]:
train_query.to_csv('train_query.csv', index=False)

In [3]:
with open('dataset/test_query.txt') as json_file:
    tr_data = json.load(json_file)
    idx = []
    cont = []
    for p in tr_data['test_query']:
        idx.append(p['index'])
        cont.append(p['summary'].strip())

In [4]:
test_query = pd.DataFrame({'topic':idx, 'test_query':cont})
test_query["topic"] = pd.to_numeric(test_query["topic"])
test_query = test_query.sort_values(by=['topic']).reset_index(drop=True)
test_query.head()

   topic                                         test_query
0      1  A 78 year old male presents with frequent stoo...
1      3  A 75F found to be hypoglycemic with hypotensio...
2      5  An 82 man with multiple chronic conditions and...
3      7  A 41-year-old male patient with medical histor...
4      8  A 26 year-old diabetic woman, estimated to 10 ...

In [6]:
test_query.to_csv('test_query.csv', index=False)

In [5]:
with open('dataset/document.txt') as json_file:
    tr_data = json.load(json_file)
    idx = []
    cont = []
    for p in tr_data['document']:
        idx.append(p['index'])
        cont.append(p['content'][p['content'].rfind('>')+2:].strip())

In [10]:
document = pd.DataFrame({'doc':idx, 'document':cont})
document["doc"] = pd.to_numeric(document["doc"])
document = document.sort_values(by=['doc']).reset_index(drop=True)
document.head()

     doc                                           document
0  13915  Background:  Resistance to mammary tumorigenes...
1  15027  Background:  Standard archival sequence databa...
2  17824  Our results show that cytokines derived from m...
3  28992  Background:  This study evaluated the feasibil...
4  28996  Background:  In order to test the hypothesis t...

In [11]:
document.shape

(100000, 2)

In [12]:
new_document = []
for i in tqdm(document['document']):
    new_document.append(' '.join(' '.join([line.strip() for line in i.strip().splitlines()]).split()))

100%|██████████| 100000/100000 [00:50<00:00, 1991.01it/s]

In [15]:
new_document = pd.DataFrame({'doc':document['doc'], 'document':new_document})
new_document.head()

     doc                                           document
0  13915  Background: Resistance to mammary tumorigenesi...
1  15027  Background: Standard archival sequence databas...
2  17824  Our results show that cytokines derived from m...
3  28992  Background: This study evaluated the feasibili...
4  28996  Background: In order to test the hypothesis th...

In [16]:
new_document.to_csv('document.csv', index=False)

In [14]:
def chunking(max_len, sent):
    tokenized_text = sent.lower().split(" ")
    # using list comprehension
    final = [tokenized_text[i * max_len:(i + 1) *max_len] for i in range((len(tokenized_text) + max_len - 1) // max_len)] 
    
    # join back to sentences for each of the chunks
    sent_chunk = []
    for item in final:
        sent_chunk.append(' '.join(item))
    return sent_chunk

chunk = []
for i in tqdm(new_document):
    chunk.append(chunking(512, i))

100%|██████████| 100000/100000 [00:50<00:00, 1993.77it/s]

In [15]:
# import torch
# from transformers import AutoTokenizer, AutoModelWithLMHead

# tokenizer = AutoTokenizer.from_pretrained('t5-small')
# model = AutoModelWithLMHead.from_pretrained('t5-small', return_dict=True).cuda()

# doc_summary = []
# for text in tqdm(document['document']):
#     inputs = tokenizer.encode("summarize: " + text,
#                               return_tensors='pt',
#                               max_length=512,
#                               truncation=True).cuda()
#     summary_ids = model.generate(inputs, max_length=150, min_length=80, length_penalty=0, num_beams=2)
#     summary = tokenizer.decode(summary_ids[0])
#     doc_summary.append(summary[summary.rfind('<pad>')+5:summary.rfind('</s>')].strip())

# new_document = pd.DataFrame({'doc':document['doc'], 'document':document['document'], 'summary':doc_summary})
# new_document.to_csv('doc_summary.csv')

In [16]:
model = SentenceTransformer('sentence-transformers/all-MiniLM-L6-v2').cuda()

In [17]:
sentence_embeddings = []

for chk in tqdm(chunk):
    chk_embeddings = model.encode(chk)
    sentence_embeddings.append(torch.mean(torch.tensor(chk_embeddings), 0).tolist())

100%|██████████| 100000/100000 [50:45<00:00, 32.84it/s]

In [38]:
train_query_document = train_query['train_query']
train_query_embeddings = model.encode(train_query_document)

In [39]:
test_query_document = test_query['test_query']
test_query_embeddings = model.encode(test_query_document)

In [40]:
train_cosine_similarity = cosine_similarity(train_query_embeddings, sentence_embeddings)

In [41]:
indices = (torch.topk(torch.tensor(train_cosine_similarity), 51).values>0.3)*torch.topk(torch.tensor(train_cosine_similarity), 51).indices

In [42]:
topic = []
doc = []
for i in range(len(indices)):
    for j in range(len(indices[i])):
        if (indices[i][j] != 0) and j!=0:
            topic.append(train_query['topic'].values[i])
            doc.append(document['doc'].values[indices[i][j]])
            print('i = {}, query_i = {}, doc_j = {}'.format(i, train_query['topic'].values[i],document['doc'].values[indices[i][j]]))

i = 0, query_i = 2, doc_j = 2762554
i = 0, query_i = 2, doc_j = 3528042
i = 0, query_i = 2, doc_j = 2767143
i = 0, query_i = 2, doc_j = 3338223
i = 0, query_i = 2, doc_j = 4097904
i = 0, query_i = 2, doc_j = 4241333
i = 0, query_i = 2, doc_j = 2759595
i = 0, query_i = 2, doc_j = 3955657
i = 0, query_i = 2, doc_j = 2823235
i = 0, query_i = 2, doc_j = 4574333
i = 0, query_i = 2, doc_j = 2911928
i = 0, query_i = 2, doc_j = 2981898
i = 0, query_i = 2, doc_j = 2759587
i = 0, query_i = 2, doc_j = 3419665
i = 0, query_i = 2, doc_j = 2850897
i = 0, query_i = 2, doc_j = 3358686
i = 0, query_i = 2, doc_j = 3651383
i = 0, query_i = 2, doc_j = 3087225
i = 0, query_i = 2, doc_j = 3360183
i = 0, query_i = 2, doc_j = 3339098
i = 0, query_i = 2, doc_j = 2621231
i = 0, query_i = 2, doc_j = 4045352
i = 0, query_i = 2, doc_j = 3445102
i = 0, query_i = 2, doc_j = 4308016
i = 0, query_i = 2, doc_j = 3377139
i = 0, query_i = 2, doc_j = 3143992
i = 0, query_i = 2, doc_j = 3104464
i = 0, query_i = 2, doc_j = 4288919
i = 0, query_i = 2, doc_j = 3759687
i = 0, query_i = 2, doc_j = 3495212
i = 0, query_i = 2, doc_j = 3230761
i = 0, query_i = 2, doc_j = 3479894
i = 0, query_i = 2, doc_j = 4486503
i = 0, query_i = 2, doc_j = 3004088
i = 0, query_i = 2, doc_j = 3850536
i = 0, query_i = 2, doc_j = 3883072
i = 0, query_i = 2, doc_j = 4567601
i = 0, query_i = 2, doc_j = 3169987
i = 0, query_i = 2, doc_j = 3370304
i = 0, query_i = 2, doc_j = 3382155
i = 0, query_i = 2, doc_j = 4455936
i = 0, query_i = 2, doc_j = 3095782
i = 0, query_i = 2, doc_j = 3524704
i = 0, query_i = 2, doc_j = 2553427
i = 0, query_i = 2, doc_j = 4376031
i = 0, query_i = 2, doc_j = 3377140
i = 0, query_i = 2, doc_j = 3940987
i = 0, query_i = 2, doc_j = 3995881
i = 0, query_i = 2, doc_j = 3110107
i = 0, query_i = 2, doc_j = 2584651
i = 1, query_i = 4, doc_j = 3869728
i = 1, query_i = 4, doc_j = 4140610
i = 1, query_i = 4, doc_j = 3017306
i = 1, query_i = 4, doc_j = 3910316
i = 1, query_i = 4, doc_j = 3034724
i = 1, query_i = 4, doc_j = 3277468
i = 1, query_i = 4, doc_j = 4072921
i = 1, query_i = 4, doc_j = 3468115
i = 1, query_i = 4, doc_j = 2686344
i = 1, query_i = 4, doc_j = 3425654
i = 1, query_i = 4, doc_j = 4292613
i = 1, query_i = 4, doc_j = 3555030
i = 1, query_i = 4, doc_j = 2413407
i = 1, query_i = 4, doc_j = 3765934
i = 1, query_i = 4, doc_j = 4712600
i = 1, query_i = 4, doc_j = 2685234
i = 1, query_i = 4, doc_j = 4266898
i = 1, query_i = 4, doc_j = 4625452
i = 1, query_i = 4, doc_j = 4619628
i = 1, query_i = 4, doc_j = 3265111
i = 1, query_i = 4, doc_j = 3080838
i = 1, query_i = 4, doc_j = 4426354
i = 1, query_i = 4, doc_j = 3521802
i = 1, query_i = 4, doc_j = 3010211
i = 1, query_i = 4, doc_j = 4456881
i = 1, query_i = 4, doc_j = 3862449
i = 1, query_i = 4, doc_j = 3263743
i = 1, query_i = 4, doc_j = 4569344
i = 1, query_i = 4, doc_j = 1766477
i = 1, query_i = 4, doc_j = 4607359
i = 1, query_i = 4, doc_j = 3893942
i = 1, query_i = 4, doc_j = 2906721
i = 1, query_i = 4, doc_j = 3388463
i = 1, query_i = 4, doc_j = 3644193
i = 1, query_i = 4, doc_j = 4723633
i = 1, query_i = 4, doc_j = 4198874
i = 1, query_i = 4, doc_j = 4791436
i = 1, query_i = 4, doc_j = 3764356
i = 1, query_i = 4, doc_j = 3780929
i = 1, query_i = 4, doc_j = 4516732
i = 1, query_i = 4, doc_j = 3159061
i = 1, query_i = 4, doc_j = 4690420
i = 1, query_i = 4, doc_j = 1388220
i = 1, query_i = 4, doc_j = 3163638
i = 1, query_i = 4, doc_j = 4461270
i = 1, query_i = 4, doc_j = 4366670
i = 1, query_i = 4, doc_j = 3789218
i = 1, query_i = 4, doc_j = 4196504
i = 1, query_i = 4, doc_j = 3714042
i = 1, query_i = 4, doc_j = 3410294
i = 2, query_i = 6, doc_j = 4350044
i = 2, query_i = 6, doc_j = 3227160
i = 2, query_i = 6, doc_j = 3352193
i = 2, query_i = 6, doc_j = 4311366
i = 2, query_i = 6, doc_j = 4307701
i = 2, query_i = 6, doc_j = 2867990
i = 2, query_i = 6, doc_j = 2976516
i = 2, query_i = 6, doc_j = 4155637
i = 2, query_i = 6, doc_j = 4464702
i = 2, query_i = 6, doc_j = 3861473
i = 2, query_i = 6, doc_j = 4331823
i = 2, query_i = 6, doc_j = 2672256
i = 2, query_i = 6, doc_j = 4556822
i = 2, query_i = 6, doc_j = 2703746
i = 2, query_i = 6, doc_j = 3465006
i = 2, query_i = 6, doc_j = 4479908
i = 2, query_i = 6, doc_j = 4531919
i = 2, query_i = 6, doc_j = 3954265
i = 2, query_i = 6, doc_j = 4531617
i = 2, query_i = 6, doc_j = 3015637
i = 2, query_i = 6, doc_j = 4461673
i = 2, query_i = 6, doc_j = 2794353
i = 2, query_i = 6, doc_j = 4671651
i = 2, query_i = 6, doc_j = 4306086
i = 2, query_i = 6, doc_j = 3784234
i = 2, query_i = 6, doc_j = 3468117
i = 2, query_i = 6, doc_j = 3652046
i = 2, query_i = 6, doc_j = 4100233
i = 2, query_i = 6, doc_j = 4632256
i = 2, query_i = 6, doc_j = 3878513
i = 2, query_i = 6, doc_j = 3649220
i = 2, query_i = 6, doc_j = 4751000
i = 2, query_i = 6, doc_j = 4367024
i = 2, query_i = 6, doc_j = 4411411
i = 2, query_i = 6, doc_j = 3352609
i = 2, query_i = 6, doc_j = 1533809
i = 2, query_i = 6, doc_j = 4357088
i = 2, query_i = 6, doc_j = 2722154
i = 2, query_i = 6, doc_j = 4447635
i = 2, query_i = 6, doc_j = 3161837
i = 2, query_i = 6, doc_j = 2997217
i = 2, query_i = 6, doc_j = 3133999
i = 2, query_i = 6, doc_j = 4656243
i = 2, query_i = 6, doc_j = 3014831
i = 2, query_i = 6, doc_j = 4123587
i = 2, query_i = 6, doc_j = 3766223
i = 2, query_i = 6, doc_j = 2852735
i = 2, query_i = 6, doc_j = 3015248
i = 2, query_i = 6, doc_j = 2672232
i = 2, query_i = 6, doc_j = 3075183
i = 3, query_i = 9, doc_j = 3259402
i = 3, query_i = 9, doc_j = 3672599
i = 3, query_i = 9, doc_j = 3492090
i = 3, query_i = 9, doc_j = 3920418
i = 3, query_i = 9, doc_j = 3446120
i = 3, query_i = 9, doc_j = 4288834
i = 3, query_i = 9, doc_j = 4608164
i = 3, query_i = 9, doc_j = 2994134
i = 3, query_i = 9, doc_j = 4603843
i = 3, query_i = 9, doc_j = 2714572
i = 3, query_i = 9, doc_j = 3651824
i = 3, query_i = 9, doc_j = 3625881
i = 3, query_i = 9, doc_j = 2900079
i = 3, query_i = 9, doc_j = 4712057
i = 3, query_i = 9, doc_j = 3750688
i = 3, query_i = 9, doc_j = 4469139
i = 3, query_i = 9, doc_j = 3017073
i = 3, query_i = 9, doc_j = 3195099
i = 3, query_i = 9, doc_j = 3047006
i = 3, query_i = 9, doc_j = 4184758
i = 3, query_i = 9, doc_j = 2946720
i = 3, query_i = 9, doc_j = 2525846
i = 3, query_i = 9, doc_j = 2842976
i = 3, query_i = 9, doc_j = 2950013
i = 3, query_i = 9, doc_j = 3726853
i = 3, query_i = 9, doc_j = 4649866
i = 3, query_i = 9, doc_j = 3205521
i = 3, query_i = 9, doc_j = 3522086
i = 3, query_i = 9, doc_j = 2629012
i = 3, query_i = 9, doc_j = 3959057
i = 3, query_i = 9, doc_j = 4554223
i = 3, query_i = 9, doc_j = 3710098
i = 3, query_i = 9, doc_j = 4433327
i = 3, query_i = 9, doc_j = 3981374
i = 3, query_i = 9, doc_j = 3284653
i = 3, query_i = 9, doc_j = 4711032
i = 3, query_i = 9, doc_j = 3510291
i = 3, query_i = 9, doc_j = 4429387
i = 3, query_i = 9, doc_j = 3249936
i = 3, query_i = 9, doc_j = 4173325
i = 3, query_i = 9, doc_j = 4570464
i = 3, query_i = 9, doc_j = 2939531
i = 3, query_i = 9, doc_j = 2668557
i = 3, query_i = 9, doc_j = 4681963
i = 3, query_i = 9, doc_j = 4035488
i = 3, query_i = 9, doc_j = 2700561
i = 3, query_i = 9, doc_j = 2876708
i = 3, query_i = 9, doc_j = 3502773
i = 3, query_i = 9, doc_j = 3417993
i = 3, query_i = 9, doc_j = 4729713
i = 4, query_i = 11, doc_j = 3809224
i = 4, query_i = 11, doc_j = 3466887
i = 4, query_i = 11, doc_j = 2737796
i = 4, query_i = 11, doc_j = 2700560
i = 4, query_i = 11, doc_j = 4668291
i = 4, query_i = 11, doc_j = 4612484
i = 4, query_i = 11, doc_j = 3582081
i = 4, query_i = 11, doc_j = 2839987
i = 4, query_i = 11, doc_j = 4655023
i = 4, query_i = 11, doc_j = 2766584
i = 4, query_i = 11, doc_j = 3556635
i = 4, query_i = 11, doc_j = 3583704
i = 4, query_i = 11, doc_j = 3017073
i = 4, query_i = 11, doc_j = 2503962
i = 4, query_i = 11, doc_j = 3683514
i = 4, query_i = 11, doc_j = 2922320
i = 4, query_i = 11, doc_j = 4079025
i = 4, query_i = 11, doc_j = 2892672
i = 4, query_i = 11, doc_j = 4401860
i = 4, query_i = 11, doc_j = 3089823
i = 4, query_i = 11, doc_j = 3345148
i = 4, query_i = 11, doc_j = 4008252
i = 4, query_i = 11, doc_j = 4622183
i = 4, query_i = 11, doc_j = 2799444
i = 4, query_i = 11, doc_j = 3259378
i = 4, query_i = 11, doc_j = 2799381
i = 4, query_i = 11, doc_j = 4335284
i = 4, query_i = 11, doc_j = 4295862
i = 4, query_i = 11, doc_j = 4685986
i = 4, query_i = 11, doc_j = 4283900
i = 4, query_i = 11, doc_j = 4550015
i = 4, query_i = 11, doc_j = 4046057
i = 4, query_i = 11, doc_j = 3097588
i = 4, query_i = 11, doc_j = 4478119
i = 4, query_i = 11, doc_j = 3042616
i = 4, query_i = 11, doc_j = 3682399
i = 4, query_i = 11, doc_j = 3970376
i = 4, query_i = 11, doc_j = 4037644
i = 4, query_i = 11, doc_j = 4620340
i = 4, query_i = 11, doc_j = 3853238
i = 4, query_i = 11, doc_j = 3731174
i = 4, query_i = 11, doc_j = 4535008
i = 4, query_i = 11, doc_j = 4061437
i = 4, query_i = 11, doc_j = 3663155
i = 4, query_i = 11, doc_j = 3144325
i = 4, query_i = 11, doc_j = 4389487
i = 4, query_i = 11, doc_j = 3368213
i = 4, query_i = 11, doc_j = 4313679
i = 4, query_i = 11, doc_j = 2726557
i = 4, query_i = 11, doc_j = 4644768
i = 5, query_i = 13, doc_j = 4206920
i = 5, query_i = 13, doc_j = 3970922
i = 5, query_i = 13, doc_j = 4306086
i = 5, query_i = 13, doc_j = 2721944
i = 5, query_i = 13, doc_j = 3200074
i = 5, query_i = 13, doc_j = 4065273
i = 5, query_i = 13, doc_j = 3959344
i = 5, query_i = 13, doc_j = 3166812
i = 5, query_i = 13, doc_j = 2702896
i = 5, query_i = 13, doc_j = 3665107
i = 5, query_i = 13, doc_j = 4399116
i = 5, query_i = 13, doc_j = 3884177
i = 5, query_i = 13, doc_j = 2588582
i = 5, query_i = 13, doc_j = 3564101
i = 5, query_i = 13, doc_j = 3179762
i = 5, query_i = 13, doc_j = 2612686
i = 5, query_i = 13, doc_j = 4283714
i = 5, query_i = 13, doc_j = 3754383
i = 5, query_i = 13, doc_j = 3884933
i = 5, query_i = 13, doc_j = 3669048
i = 5, query_i = 13, doc_j = 3789409
i = 5, query_i = 13, doc_j = 3468117
i = 5, query_i = 13, doc_j = 3806992
i = 5, query_i = 13, doc_j = 3628494
i = 5, query_i = 13, doc_j = 2980725
i = 5, query_i = 13, doc_j = 2691928
i = 5, query_i = 13, doc_j = 2779295
i = 5, query_i = 13, doc_j = 4449382
i = 5, query_i = 13, doc_j = 3459251
i = 5, query_i = 13, doc_j = 4359422
i = 5, query_i = 13, doc_j = 3310784
i = 5, query_i = 13, doc_j = 4280809
i = 5, query_i = 13, doc_j = 3133999
i = 5, query_i = 13, doc_j = 4480181
i = 5, query_i = 13, doc_j = 3155694
i = 5, query_i = 13, doc_j = 2828421
i = 5, query_i = 13, doc_j = 4349692
i = 5, query_i = 13, doc_j = 4246143
i = 5, query_i = 13, doc_j = 3336915
i = 5, query_i = 13, doc_j = 3914133
i = 5, query_i = 13, doc_j = 4281437
i = 5, query_i = 13, doc_j = 4469977
i = 5, query_i = 13, doc_j = 4709703
i = 5, query_i = 13, doc_j = 3535815
i = 5, query_i = 13, doc_j = 3892646
i = 5, query_i = 13, doc_j = 3789899
i = 5, query_i = 13, doc_j = 3195345
i = 5, query_i = 13, doc_j = 4544561
i = 5, query_i = 13, doc_j = 2913533
i = 5, query_i = 13, doc_j = 4575497
i = 6, query_i = 14, doc_j = 4214979
i = 6, query_i = 14, doc_j = 4317064
i = 6, query_i = 14, doc_j = 3750250
i = 6, query_i = 14, doc_j = 1824744
i = 6, query_i = 14, doc_j = 4584670
i = 6, query_i = 14, doc_j = 1277011
i = 6, query_i = 14, doc_j = 3996170
i = 6, query_i = 14, doc_j = 3701496
i = 6, query_i = 14, doc_j = 3923567
i = 6, query_i = 14, doc_j = 2707150
i = 6, query_i = 14, doc_j = 2876707
i = 6, query_i = 14, doc_j = 4778772
i = 6, query_i = 14, doc_j = 1847685
i = 6, query_i = 14, doc_j = 60654
i = 6, query_i = 14, doc_j = 2650615
i = 6, query_i = 14, doc_j = 4038366
i = 6, query_i = 14, doc_j = 3257067
i = 6, query_i = 14, doc_j = 3389947
i = 6, query_i = 14, doc_j = 2650997
i = 6, query_i = 14, doc_j = 4663880
i = 6, query_i = 14, doc_j = 4576759
i = 6, query_i = 14, doc_j = 4148341
i = 6, query_i = 14, doc_j = 3206111
i = 6, query_i = 14, doc_j = 4220061
i = 6, query_i = 14, doc_j = 3439358
i = 6, query_i = 14, doc_j = 4748620
i = 6, query_i = 14, doc_j = 3564029
i = 6, query_i = 14, doc_j = 3973662
i = 6, query_i = 14, doc_j = 4141336
i = 6, query_i = 14, doc_j = 4590715
i = 6, query_i = 14, doc_j = 4375738
i = 6, query_i = 14, doc_j = 3591538
i = 6, query_i = 14, doc_j = 3908831
i = 6, query_i = 14, doc_j = 4531654
i = 6, query_i = 14, doc_j = 3047823
i = 6, query_i = 14, doc_j = 3051222
i = 6, query_i = 14, doc_j = 4602801
i = 6, query_i = 14, doc_j = 4696084
i = 6, query_i = 14, doc_j = 4154888
i = 6, query_i = 14, doc_j = 3123294
i = 6, query_i = 14, doc_j = 3806379
i = 6, query_i = 14, doc_j = 4476439
i = 6, query_i = 14, doc_j = 4345705
i = 6, query_i = 14, doc_j = 4554223
i = 6, query_i = 14, doc_j = 3560221
i = 6, query_i = 14, doc_j = 4616338
i = 6, query_i = 14, doc_j = 2802352
i = 6, query_i = 14, doc_j = 4293292
i = 6, query_i = 14, doc_j = 3388422
i = 6, query_i = 14, doc_j = 3937398
i = 7, query_i = 15, doc_j = 4190564
i = 7, query_i = 15, doc_j = 4603040
i = 7, query_i = 15, doc_j = 3658208
i = 7, query_i = 15, doc_j = 3657849
i = 7, query_i = 15, doc_j = 4718127
i = 7, query_i = 15, doc_j = 3920375
i = 7, query_i = 15, doc_j = 3644838
i = 7, query_i = 15, doc_j = 3168858
i = 7, query_i = 15, doc_j = 4681887
i = 7, query_i = 15, doc_j = 4075235
i = 7, query_i = 15, doc_j = 3672415
i = 7, query_i = 15, doc_j = 4120048
i = 7, query_i = 15, doc_j = 3359164
i = 7, query_i = 15, doc_j = 4554223
i = 7, query_i = 15, doc_j = 4026863
i = 7, query_i = 15, doc_j = 3271698
i = 7, query_i = 15, doc_j = 3056729
i = 7, query_i = 15, doc_j = 4632937
i = 7, query_i = 15, doc_j = 4251838
i = 7, query_i = 15, doc_j = 3033825
i = 7, query_i = 15, doc_j = 3646783
i = 7, query_i = 15, doc_j = 3908831
i = 7, query_i = 15, doc_j = 4476439
i = 7, query_i = 15, doc_j = 3667451
i = 7, query_i = 15, doc_j = 4333835
i = 7, query_i = 15, doc_j = 4214942
i = 7, query_i = 15, doc_j = 4184733
i = 7, query_i = 15, doc_j = 3601502
i = 7, query_i = 15, doc_j = 3710098
i = 7, query_i = 15, doc_j = 4283879
i = 7, query_i = 15, doc_j = 4386191
i = 7, query_i = 15, doc_j = 4589974
i = 7, query_i = 15, doc_j = 3813739
i = 7, query_i = 15, doc_j = 4681963
i = 7, query_i = 15, doc_j = 2612685
i = 7, query_i = 15, doc_j = 3350079
i = 7, query_i = 15, doc_j = 2919999
i = 7, query_i = 15, doc_j = 2962298
i = 7, query_i = 15, doc_j = 3388422
i = 7, query_i = 15, doc_j = 3910399
i = 7, query_i = 15, doc_j = 2223623
i = 7, query_i = 15, doc_j = 3701496
i = 7, query_i = 15, doc_j = 4398100
i = 7, query_i = 15, doc_j = 4005158
i = 7, query_i = 15, doc_j = 3303906
i = 7, query_i = 15, doc_j = 3620928
i = 7, query_i = 15, doc_j = 4143213
i = 7, query_i = 15, doc_j = 3915068
i = 7, query_i = 15, doc_j = 3277036
i = 7, query_i = 15, doc_j = 4279268
i = 8, query_i = 19, doc_j = 4778408
i = 8, query_i = 19, doc_j = 4530917
i = 8, query_i = 19, doc_j = 3748420
i = 8, query_i = 19, doc_j = 3087163
i = 8, query_i = 19, doc_j = 3656697
i = 8, query_i = 19, doc_j = 3992766
i = 8, query_i = 19, doc_j = 4505076
i = 8, query_i = 19, doc_j = 3377871
i = 8, query_i = 19, doc_j = 4755084
i = 8, query_i = 19, doc_j = 2684430
i = 8, query_i = 19, doc_j = 4290584
i = 8, query_i = 19, doc_j = 3093203
i = 8, query_i = 19, doc_j = 3933023
i = 8, query_i = 19, doc_j = 2596799
i = 8, query_i = 19, doc_j = 4255922
i = 8, query_i = 19, doc_j = 3736547
i = 8, query_i = 19, doc_j = 1800858
i = 8, query_i = 19, doc_j = 3451994
i = 8, query_i = 19, doc_j = 3389956
i = 8, query_i = 19, doc_j = 2848682
i = 8, query_i = 19, doc_j = 3893488
i = 8, query_i = 19, doc_j = 3337512
i = 8, query_i = 19, doc_j = 1196471
i = 8, query_i = 19, doc_j = 4184630
i = 8, query_i = 19, doc_j = 3410308
i = 8, query_i = 19, doc_j = 4144316
i = 8, query_i = 19, doc_j = 2805651
i = 8, query_i = 19, doc_j = 3035195
i = 8, query_i = 19, doc_j = 3263062
i = 8, query_i = 19, doc_j = 4626642
i = 8, query_i = 19, doc_j = 4337078
i = 8, query_i = 19, doc_j = 4470133
i = 8, query_i = 19, doc_j = 2859586
i = 8, query_i = 19, doc_j = 4146085
i = 8, query_i = 19, doc_j = 3284865
i = 8, query_i = 19, doc_j = 3972957
i = 8, query_i = 19, doc_j = 2386356
i = 8, query_i = 19, doc_j = 4688319
i = 8, query_i = 19, doc_j = 3502817
i = 8, query_i = 19, doc_j = 4399116
i = 8, query_i = 19, doc_j = 2883193
i = 8, query_i = 19, doc_j = 4220574
i = 8, query_i = 19, doc_j = 4189851
i = 8, query_i = 19, doc_j = 3567996
i = 8, query_i = 19, doc_j = 4311360
i = 8, query_i = 19, doc_j = 2711951
i = 8, query_i = 19, doc_j = 4012521
i = 8, query_i = 19, doc_j = 3579048
i = 8, query_i = 19, doc_j = 3672575
i = 8, query_i = 19, doc_j = 3088380
i = 9, query_i = 22, doc_j = 4078719
i = 9, query_i = 22, doc_j = 3775324
i = 9, query_i = 22, doc_j = 3150839
i = 9, query_i = 22, doc_j = 4692831
i = 9, query_i = 22, doc_j = 4322099
i = 9, query_i = 22, doc_j = 2914738
i = 9, query_i = 22, doc_j = 3415826
i = 9, query_i = 22, doc_j = 4534441
i = 9, query_i = 22, doc_j = 3575236
i = 9, query_i = 22, doc_j = 3161841
i = 9, query_i = 22, doc_j = 3985204
i = 9, query_i = 22, doc_j = 183850
i = 9, query_i = 22, doc_j = 130966
i = 9, query_i = 22, doc_j = 2835690
i = 9, query_i = 22, doc_j = 2735159
i = 9, query_i = 22, doc_j = 3524161
i = 9, query_i = 22, doc_j = 4721048
i = 9, query_i = 22, doc_j = 3495960
i = 9, query_i = 22, doc_j = 4437995
i = 9, query_i = 22, doc_j = 3472076
i = 9, query_i = 22, doc_j = 3479014
i = 9, query_i = 22, doc_j = 3190489
i = 9, query_i = 22, doc_j = 3855704
i = 9, query_i = 22, doc_j = 4208208
i = 9, query_i = 22, doc_j = 3423700
i = 9, query_i = 22, doc_j = 4329230
i = 9, query_i = 22, doc_j = 4420937
i = 9, query_i = 22, doc_j = 4016623
i = 9, query_i = 22, doc_j = 3797279
i = 9, query_i = 22, doc_j = 4085233
i = 9, query_i = 22, doc_j = 4683507
i = 9, query_i = 22, doc_j = 4310357
i = 9, query_i = 22, doc_j = 3375713
i = 9, query_i = 22, doc_j = 3959060
i = 9, query_i = 22, doc_j = 4564027
i = 9, query_i = 22, doc_j = 3963133
i = 10, query_i = 23, doc_j = 4130692
i = 10, query_i = 23, doc_j = 2726551
i = 10, query_i = 23, doc_j = 3767862
i = 10, query_i = 23, doc_j = 4321082
i = 10, query_i = 23, doc_j = 3616277
i = 10, query_i = 23, doc_j = 1940016
i = 10, query_i = 23, doc_j = 3786488
i = 10, query_i = 23, doc_j = 3195765
i = 10, query_i = 23, doc_j = 4008040
i = 10, query_i = 23, doc_j = 3015866
i = 10, query_i = 23, doc_j = 4534937
i = 10, query_i = 23, doc_j = 4100233
i = 10, query_i = 23, doc_j = 3512482
i = 10, query_i = 23, doc_j = 3996862
i = 10, query_i = 23, doc_j = 3643327
i = 10, query_i = 23, doc_j = 3025845
i = 10, query_i = 23, doc_j = 3305541
i = 10, query_i = 23, doc_j = 3763584
i = 10, query_i = 23, doc_j = 2769347
i = 10, query_i = 23, doc_j = 2740148
i = 10, query_i = 23, doc_j = 2627450
i = 10, query_i = 23, doc_j = 2858886
i = 10, query_i = 23, doc_j = 3506886
i = 10, query_i = 23, doc_j = 3502835
i = 10, query_i = 23, doc_j = 4754103
i = 10, query_i = 23, doc_j = 4641862
i = 10, query_i = 23, doc_j = 2990396
i = 10, query_i = 23, doc_j = 4292062
i = 10, query_i = 23, doc_j = 4271459
i = 10, query_i = 23, doc_j = 3797951
i = 10, query_i = 23, doc_j = 1665312
i = 10, query_i = 23, doc_j = 4429263
i = 10, query_i = 23, doc_j = 3423676
i = 10, query_i = 23, doc_j = 2852697
i = 10, query_i = 23, doc_j = 4367911
i = 10, query_i = 23, doc_j = 3618050
i = 10, query_i = 23, doc_j = 4345022
i = 10, query_i = 23, doc_j = 2927604
i = 10, query_i = 23, doc_j = 3632012
i = 10, query_i = 23, doc_j = 3423063
i = 10, query_i = 23, doc_j = 3789039
i = 10, query_i = 23, doc_j = 4754519
i = 10, query_i = 23, doc_j = 4513795
i = 10, query_i = 23, doc_j = 3827901
i = 10, query_i = 23, doc_j = 4480181
i = 10, query_i = 23, doc_j = 4676666
i = 10, query_i = 23, doc_j = 4347549
i = 10, query_i = 23, doc_j = 3336915
i = 10, query_i = 23, doc_j = 4317513
i = 10, query_i = 23, doc_j = 2923788
i = 11, query_i = 24, doc_j = 4553203
i = 11, query_i = 24, doc_j = 3403125
i = 11, query_i = 24, doc_j = 3170350
i = 11, query_i = 24, doc_j = 4359422
i = 11, query_i = 24, doc_j = 3539377
i = 11, query_i = 24, doc_j = 4604698
i = 11, query_i = 24, doc_j = 3469354
i = 11, query_i = 24, doc_j = 2522257

In [43]:
train_topic = train_query['topic'].values
result = []
for i in range(len(train_topic)):
    inputt = []
    for j in range(len(topic)):
        if topic[j] == train_topic[i]:
            inputt.append(doc[j])
    result.append(inputt)

In [44]:
def intersection(lst1, lst2):
    lst3 = [value for value in lst1 if value in lst2]
    return lst3

In [45]:
golden_total = []
predict_total = []
total = []
intersect_total = []
intersect = []

for i in range(len(train_ans['doc'])):
    golden_total.append(len(train_ans['doc'][i]))
    predict_total.append(len(result[i]))
    total.append(len(train_ans['doc'][i])+len(result[i]))
    intersect.append(intersection(result[i], list(map(int, (train_ans['doc'][i])))))
    intersect_total.append(len(intersection(result[i], list(map(int, (train_ans['doc'][i]))))))

In [46]:
final = pd.DataFrame({'topic':train_ans['topic'], 'intersect':intersect, 'intersect_total':intersect_total, 'predict_total':predict_total, 'golden_total':golden_total, 'total':total, 'score':np.array(intersect_total)/np.array(total)})
final

,topic,intersect,intersect_total,predict_total,golden_total,total,score
0,2,"[3528042, 2767143, 3338223, 2759595, 2911928, ...",14,50,34,84,0.166667
1,4,[],0,50,18,68,0.000000
2,6,"[3227160, 3352193, 2976516, 2703746, 4531919, ...",14,50,64,114,0.122807
3,9,"[3672599, 3492090, 3446120, 2994134, 2714572, ...",15,50,51,101,0.148515
4,11,"[3809224, 4612484, 2503962, 2799444, 4295862, ...",6,50,56,106,0.056604
5,13,"[2691928, 3310784]",2,50,50,100,0.020000
6,14,"[1824744, 3996170, 3701496, 2707150, 3389947, ...",9,50,54,104,0.086538
7,15,"[4718127, 3620928, 3277036]",3,50,50,100,0.030000
8,19,"[4778408, 3748420, 3992766, 3337512, 3410308]",5,50,62,112,0.044643
9,22,[4310357],1,36,8,44,0.022727
10,23,"[4130692, 3025845, 2769347, 2740148, 2990396, ...",9,50,52,102,0.088235
11,24,"[4306086, 3644780, 4170826]",3,50,58,108,0.027778
12,25,"[3564268, 4427946, 3157010, 116583, 3904170, 3...",18,50,73,123,0.146341
13,26,"[2884443, 3904170, 3914350, 2884445, 2490806, ...",17,50,56,106,0.160377
14,30,"[2769284, 2931406, 1977847, 4383326, 3169500, ...",9,50,34,84,0.107143

In [47]:
np.mean(final['score'])

0.08189171010884361

In [49]:
test_cosine_similarity = cosine_similarity(test_query_embeddings, sentence_embeddings)

In [50]:
indices = (torch.topk(torch.tensor(test_cosine_similarity), 51).values>0.3)*torch.topk(torch.tensor(test_cosine_similarity), 51).indices

In [51]:
topic = []
doc = []
for i in range(len(indices)):
    for j in range(len(indices[i])):
        if (indices[i][j] != 0) and j!=0:
            topic.append(test_query['topic'].values[i])
            doc.append(document['doc'].values[indices[i][j]])
            print('i = {}, query_i = {}, doc_j = {}'.format(i, test_query['topic'].values[i],document['doc'].values[indices[i][j]]))

i = 0, query_i = 1, doc_j = 3767862
i = 0, query_i = 1, doc_j = 4321082
i = 0, query_i = 1, doc_j = 4154917
i = 0, query_i = 1, doc_j = 4271459
i = 0, query_i = 1, doc_j = 4292062
i = 0, query_i = 1, doc_j = 4480181
i = 0, query_i = 1, doc_j = 4534937
i = 0, query_i = 1, doc_j = 3954265
i = 0, query_i = 1, doc_j = 4030609
i = 0, query_i = 1, doc_j = 4004840
i = 0, query_i = 1, doc_j = 4737844
i = 0, query_i = 1, doc_j = 4302625
i = 0, query_i = 1, doc_j = 4309677
i = 0, query_i = 1, doc_j = 4326288
i = 0, query_i = 1, doc_j = 4298112
i = 0, query_i = 1, doc_j = 3193822
i = 0, query_i = 1, doc_j = 3894017
i = 0, query_i = 1, doc_j = 3305541
i = 0, query_i = 1, doc_j = 2963747
i = 0, query_i = 1, doc_j = 3640153
i = 0, query_i = 1, doc_j = 3471405
i = 0, query_i = 1, doc_j = 3075185
i = 0, query_i = 1, doc_j = 2726551
i = 0, query_i = 1, doc_j = 3999026
i = 0, query_i = 1, doc_j = 3841668
i = 0, query_i = 1, doc_j = 3542894
i = 0, query_i = 1, doc_j = 3439954
i = 0, query_i = 1, doc_j = 2987810
i = 0, query_i = 1, doc_j = 4123589
i = 0, query_i = 1, doc_j = 1574330
i = 0, query_i = 1, doc_j = 3562610
i = 0, query_i = 1, doc_j = 2923788
i = 0, query_i = 1, doc_j = 4065273
i = 0, query_i = 1, doc_j = 2018705
i = 0, query_i = 1, doc_j = 3853771
i = 0, query_i = 1, doc_j = 2515291
i = 0, query_i = 1, doc_j = 2675533
i = 0, query_i = 1, doc_j = 3383306
i = 0, query_i = 1, doc_j = 4073557
i = 0, query_i = 1, doc_j = 2567337
i = 0, query_i = 1, doc_j = 2822316
i = 0, query_i = 1, doc_j = 4367010
i = 0, query_i = 1, doc_j = 3763584
i = 0, query_i = 1, doc_j = 3667296
i = 0, query_i = 1, doc_j = 4185874
i = 0, query_i = 1, doc_j = 4359942
i = 0, query_i = 1, doc_j = 4413966
i = 0, query_i = 1, doc_j = 3916464
i = 0, query_i = 1, doc_j = 1592493
i = 0, query_i = 1, doc_j = 3853859
i = 1, query_i = 3, doc_j = 1196471
i = 1, query_i = 3, doc_j = 4194386
i = 1, query_i = 3, doc_j = 1794245
i = 1, query_i = 3, doc_j = 2635358
i = 1, query_i = 3, doc_j = 4297396
i = 1, query_i = 3, doc_j = 4590715
i = 1, query_i = 3, doc_j = 3048475
i = 1, query_i = 3, doc_j = 4096672
i = 1, query_i = 3, doc_j = 2883193
i = 1, query_i = 3, doc_j = 3764359
i = 1, query_i = 3, doc_j = 3588203
i = 1, query_i = 3, doc_j = 503388
i = 1, query_i = 3, doc_j = 4297428
i = 1, query_i = 3, doc_j = 2944190
i = 1, query_i = 3, doc_j = 4174550
i = 1, query_i = 3, doc_j = 1804271
i = 1, query_i = 3, doc_j = 2923177
i = 1, query_i = 3, doc_j = 3104646
i = 1, query_i = 3, doc_j = 4165058
i = 1, query_i = 3, doc_j = 3318852
i = 1, query_i = 3, doc_j = 3401856
i = 1, query_i = 3, doc_j = 4460769
i = 1, query_i = 3, doc_j = 1891109
i = 1, query_i = 3, doc_j = 3864401
i = 1, query_i = 3, doc_j = 4750572
i = 1, query_i = 3, doc_j = 4343039
i = 1, query_i = 3, doc_j = 3915840
i = 1, query_i = 3, doc_j = 3206823
i = 1, query_i = 3, doc_j = 4027854
i = 1, query_i = 3, doc_j = 4478322
i = 1, query_i = 3, doc_j = 4477501
i = 1, query_i = 3, doc_j = 4696709
i = 1, query_i = 3, doc_j = 3410774
i = 1, query_i = 3, doc_j = 3725447
i = 1, query_i = 3, doc_j = 4578021
i = 1, query_i = 3, doc_j = 4580314
i = 1, query_i = 3, doc_j = 2217552
i = 1, query_i = 3, doc_j = 3053378
i = 1, query_i = 3, doc_j = 3682399
i = 1, query_i = 3, doc_j = 3652050
i = 1, query_i = 3, doc_j = 2989655
i = 1, query_i = 3, doc_j = 2958545
i = 1, query_i = 3, doc_j = 3845697
i = 1, query_i = 3, doc_j = 3923567
i = 1, query_i = 3, doc_j = 4515343
i = 1, query_i = 3, doc_j = 3284073
i = 1, query_i = 3, doc_j = 3359167
i = 1, query_i = 3, doc_j = 4292702
i = 1, query_i = 3, doc_j = 4255922
i = 1, query_i = 3, doc_j = 3282637
i = 2, query_i = 5, doc_j = 1847685
i = 2, query_i = 5, doc_j = 3205006
i = 2, query_i = 5, doc_j = 3701496
i = 2, query_i = 5, doc_j = 2902403
i = 2, query_i = 5, doc_j = 2707150
i = 2, query_i = 5, doc_j = 1277005
i = 2, query_i = 5, doc_j = 2802352
i = 2, query_i = 5, doc_j = 3560221
i = 2, query_i = 5, doc_j = 4653927
i = 2, query_i = 5, doc_j = 3602065
i = 2, query_i = 5, doc_j = 4531654
i = 2, query_i = 5, doc_j = 3600016
i = 2, query_i = 5, doc_j = 4214979
i = 2, query_i = 5, doc_j = 4342897
i = 2, query_i = 5, doc_j = 4681963
i = 2, query_i = 5, doc_j = 3187869
i = 2, query_i = 5, doc_j = 4132523
i = 2, query_i = 5, doc_j = 4529711
i = 2, query_i = 5, doc_j = 4373318
i = 2, query_i = 5, doc_j = 4441437
i = 2, query_i = 5, doc_j = 3389947
i = 2, query_i = 5, doc_j = 2664779
i = 2, query_i = 5, doc_j = 1409774
i = 2, query_i = 5, doc_j = 4050070
i = 2, query_i = 5, doc_j = 2845119
i = 2, query_i = 5, doc_j = 4532011
i = 2, query_i = 5, doc_j = 3908831
i = 2, query_i = 5, doc_j = 2876707
i = 2, query_i = 5, doc_j = 3973662
i = 2, query_i = 5, doc_j = 3639712
i = 2, query_i = 5, doc_j = 4549099
i = 2, query_i = 5, doc_j = 3968703
i = 2, query_i = 5, doc_j = 4629768
i = 2, query_i = 5, doc_j = 4066701
i = 2, query_i = 5, doc_j = 4584670
i = 2, query_i = 5, doc_j = 3206111
i = 2, query_i = 5, doc_j = 3546880
i = 2, query_i = 5, doc_j = 4040471
i = 2, query_i = 5, doc_j = 4300728
i = 2, query_i = 5, doc_j = 4378946
i = 2, query_i = 5, doc_j = 4517883
i = 2, query_i = 5, doc_j = 2939327
i = 2, query_i = 5, doc_j = 3257067
i = 2, query_i = 5, doc_j = 3378563
i = 2, query_i = 5, doc_j = 3180669
i = 2, query_i = 5, doc_j = 3994894
i = 2, query_i = 5, doc_j = 3959476
i = 2, query_i = 5, doc_j = 2943473
i = 2, query_i = 5, doc_j = 4344779
i = 2, query_i = 5, doc_j = 3750926
i = 3, query_i = 7, doc_j = 3853610
i = 3, query_i = 7, doc_j = 3524190
i = 3, query_i = 7, doc_j = 4352736
i = 3, query_i = 7, doc_j = 3471415
i = 3, query_i = 7, doc_j = 3269105
i = 3, query_i = 7, doc_j = 3783665
i = 3, query_i = 7, doc_j = 4306086
i = 3, query_i = 7, doc_j = 4464098
i = 3, query_i = 7, doc_j = 2841416
i = 3, query_i = 7, doc_j = 3990081
i = 3, query_i = 7, doc_j = 3280479
i = 3, query_i = 7, doc_j = 1560153
i = 3, query_i = 7, doc_j = 3437809
i = 3, query_i = 7, doc_j = 2936924
i = 3, query_i = 7, doc_j = 3860017
i = 3, query_i = 7, doc_j = 1963453
i = 3, query_i = 7, doc_j = 2726470
i = 3, query_i = 7, doc_j = 4513750
i = 3, query_i = 7, doc_j = 4107321
i = 3, query_i = 7, doc_j = 3088753
i = 3, query_i = 7, doc_j = 4710924
i = 3, query_i = 7, doc_j = 2596799
i = 3, query_i = 7, doc_j = 4397033
i = 3, query_i = 7, doc_j = 2572047
i = 3, query_i = 7, doc_j = 2629478
i = 3, query_i = 7, doc_j = 2779365
i = 3, query_i = 7, doc_j = 4208387
i = 3, query_i = 7, doc_j = 2578976
i = 3, query_i = 7, doc_j = 4519607
i = 3, query_i = 7, doc_j = 3784234
i = 3, query_i = 7, doc_j = 3467606
i = 3, query_i = 7, doc_j = 4350044
i = 3, query_i = 7, doc_j = 2783154
i = 3, query_i = 7, doc_j = 4307701
i = 3, query_i = 7, doc_j = 270051
i = 3, query_i = 7, doc_j = 3446146
i = 3, query_i = 7, doc_j = 4150433
i = 3, query_i = 7, doc_j = 4586910
i = 3, query_i = 7, doc_j = 3467437
i = 3, query_i = 7, doc_j = 2448556
i = 3, query_i = 7, doc_j = 4603079
i = 3, query_i = 7, doc_j = 3754383
i = 3, query_i = 7, doc_j = 2778833
i = 3, query_i = 7, doc_j = 4260110
i = 3, query_i = 7, doc_j = 2747439
i = 3, query_i = 7, doc_j = 4693334
i = 3, query_i = 7, doc_j = 4332755
i = 3, query_i = 7, doc_j = 4619023
i = 3, query_i = 7, doc_j = 2516516
i = 3, query_i = 7, doc_j = 3807848
i = 4, query_i = 8, doc_j = 3514247
i = 4, query_i = 8, doc_j = 3462687
i = 4, query_i = 8, doc_j = 4746442
i = 4, query_i = 8, doc_j = 3156539
i = 4, query_i = 8, doc_j = 3864994
i = 4, query_i = 8, doc_j = 2990903
i = 4, query_i = 8, doc_j = 4332755
i = 4, query_i = 8, doc_j = 2613261
i = 4, query_i = 8, doc_j = 4430906
i = 4, query_i = 8, doc_j = 3359708
i = 4, query_i = 8, doc_j = 3139186
i = 4, query_i = 8, doc_j = 4614638
i = 4, query_i = 8, doc_j = 3687305
i = 4, query_i = 8, doc_j = 3142058
i = 4, query_i = 8, doc_j = 4738771
i = 4, query_i = 8, doc_j = 3458880
i = 4, query_i = 8, doc_j = 3613671
i = 4, query_i = 8, doc_j = 4325419
i = 4, query_i = 8, doc_j = 3263572
i = 4, query_i = 8, doc_j = 4337320
i = 4, query_i = 8, doc_j = 3753768
i = 4, query_i = 8, doc_j = 2577131
i = 4, query_i = 8, doc_j = 4515343
i = 4, query_i = 8, doc_j = 3010629
i = 4, query_i = 8, doc_j = 4020724
i = 4, query_i = 8, doc_j = 4580314
i = 4, query_i = 8, doc_j = 3193777
i = 4, query_i = 8, doc_j = 2570219
i = 4, query_i = 8, doc_j = 3486011
i = 4, query_i = 8, doc_j = 4654877
i = 4, query_i = 8, doc_j = 2453676
i = 4, query_i = 8, doc_j = 3958315
i = 4, query_i = 8, doc_j = 4429909
i = 4, query_i = 8, doc_j = 3510933
i = 4, query_i = 8, doc_j = 4381949
i = 4, query_i = 8, doc_j = 3459517
i = 4, query_i = 8, doc_j = 4064804
i = 4, query_i = 8, doc_j = 3862070
i = 4, query_i = 8, doc_j = 3735559
i = 4, query_i = 8, doc_j = 4639343
i = 4, query_i = 8, doc_j = 4735208
i = 4, query_i = 8, doc_j = 4226317
i = 4, query_i = 8, doc_j = 3945736
i = 4, query_i = 8, doc_j = 3600000
i = 4, query_i = 8, doc_j = 3119677
i = 4, query_i = 8, doc_j = 4467633
i = 4, query_i = 8, doc_j = 4397033
i = 4, query_i = 8, doc_j = 3460024
i = 4, query_i = 8, doc_j = 3687330
i = 4, query_i = 8, doc_j = 4718104
i = 5, query_i = 10, doc_j = 2169207
i = 5, query_i = 10, doc_j = 4137722
i = 5, query_i = 10, doc_j = 4677431
i = 5, query_i = 10, doc_j = 4191271
i = 5, query_i = 10, doc_j = 4567779
i = 5, query_i = 10, doc_j = 4493310
i = 5, query_i = 10, doc_j = 2918835
i = 5, query_i = 10, doc_j = 3194035
i = 5, query_i = 10, doc_j = 3443990
i = 5, query_i = 10, doc_j = 4220312
i = 5, query_i = 10, doc_j = 4725662
i = 5, query_i = 10, doc_j = 2881433
i = 5, query_i = 10, doc_j = 3104865
i = 5, query_i = 10, doc_j = 3258766
i = 5, query_i = 10, doc_j = 4521279
i = 5, query_i = 10, doc_j = 4148286
i = 5, query_i = 10, doc_j = 3221226
i = 5, query_i = 10, doc_j = 4748620
i = 5, query_i = 10, doc_j = 3014744
i = 5, query_i = 10, doc_j = 3289192
i = 5, query_i = 10, doc_j = 3724565
i = 5, query_i = 10, doc_j = 2724188
i = 5, query_i = 10, doc_j = 3177592
i = 5, query_i = 10, doc_j = 2009094
i = 5, query_i = 10, doc_j = 3742911
i = 5, query_i = 10, doc_j = 4637510
i = 5, query_i = 10, doc_j = 4088309
i = 5, query_i = 10, doc_j = 3661453
i = 5, query_i = 10, doc_j = 4165672
i = 5, query_i = 10, doc_j = 4469506
i = 5, query_i = 10, doc_j = 3505940
i = 5, query_i = 10, doc_j = 4645548
i = 5, query_i = 10, doc_j = 2879954
i = 5, query_i = 10, doc_j = 4369992
i = 5, query_i = 10, doc_j = 4347719
i = 5, query_i = 10, doc_j = 2211302
i = 5, query_i = 10, doc_j = 3323212
i = 5, query_i = 10, doc_j = 4241250
i = 5, query_i = 10, doc_j = 3981232
i = 5, query_i = 10, doc_j = 4407289
i = 5, query_i = 10, doc_j = 3856015
i = 5, query_i = 10, doc_j = 4256724
i = 5, query_i = 10, doc_j = 3773375
i = 5, query_i = 10, doc_j = 3359167
i = 5, query_i = 10, doc_j = 4036487
i = 5, query_i = 10, doc_j = 3440319
i = 5, query_i = 10, doc_j = 2883193
i = 5, query_i = 10, doc_j = 4120255
i = 5, query_i = 10, doc_j = 3409072
i = 5, query_i = 10, doc_j = 4180863
i = 6, query_i = 12, doc_j = 3591047
i = 6, query_i = 12, doc_j = 2892435
i = 6, query_i = 12, doc_j = 4310154
i = 6, query_i = 12, doc_j = 4717651
i = 6, query_i = 12, doc_j = 4241333
i = 6, query_i = 12, doc_j = 3833645
i = 6, query_i = 12, doc_j = 4769425
i = 6, query_i = 12, doc_j = 4271388
i = 6, query_i = 12, doc_j = 4477404
i = 6, query_i = 12, doc_j = 4143597
i = 6, query_i = 12, doc_j = 3700145
i = 6, query_i = 12, doc_j = 4166331
i = 6, query_i = 12, doc_j = 3917398
i = 6, query_i = 12, doc_j = 3747364
i = 6, query_i = 12, doc_j = 4553723
i = 6, query_i = 12, doc_j = 2769363
i = 6, query_i = 12, doc_j = 4118222
i = 6, query_i = 12, doc_j = 4632462
i = 6, query_i = 12, doc_j = 3026928
i = 6, query_i = 12, doc_j = 2700475
i = 6, query_i = 12, doc_j = 3912817
i = 6, query_i = 12, doc_j = 2709613
i = 6, query_i = 12, doc_j = 3214503
i = 6, query_i = 12, doc_j = 3813711
i = 6, query_i = 12, doc_j = 4303734
i = 6, query_i = 12, doc_j = 4564027
i = 6, query_i = 12, doc_j = 4085233
i = 6, query_i = 12, doc_j = 4302551
i = 6, query_i = 12, doc_j = 3161841
i = 6, query_i = 12, doc_j = 4710333
i = 6, query_i = 12, doc_j = 2893429
i = 6, query_i = 12, doc_j = 2914738
i = 6, query_i = 12, doc_j = 3841531
i = 6, query_i = 12, doc_j = 4674590
i = 6, query_i = 12, doc_j = 4520025
i = 6, query_i = 12, doc_j = 3322214
i = 6, query_i = 12, doc_j = 3469804
i = 6, query_i = 12, doc_j = 2907361
i = 6, query_i = 12, doc_j = 3766325
i = 6, query_i = 12, doc_j = 3631113
i = 6, query_i = 12, doc_j = 4616526
i = 6, query_i = 12, doc_j = 2780634
i = 6, query_i = 12, doc_j = 4016623
i = 6, query_i = 12, doc_j = 4446804
i = 6, query_i = 12, doc_j = 4333154
i = 6, query_i = 12, doc_j = 3479014
i = 6, query_i = 12, doc_j = 4043289
i = 6, query_i = 12, doc_j = 2526400
i = 6, query_i = 12, doc_j = 4784179
i = 6, query_i = 12, doc_j = 3443277
i = 7, query_i = 16, doc_j = 3056326
i = 7, query_i = 16, doc_j = 3223529
i = 7, query_i = 16, doc_j = 3686064
i = 7, query_i = 16, doc_j = 2636761
i = 7, query_i = 16, doc_j = 3536585
i = 7, query_i = 16, doc_j = 3359167
i = 7, query_i = 16, doc_j = 4082902
i = 7, query_i = 16, doc_j = 3305576
i = 7, query_i = 16, doc_j = 3552547
i = 7, query_i = 16, doc_j = 4137640
i = 7, query_i = 16, doc_j = 4162015
i = 7, query_i = 16, doc_j = 3389956
i = 7, query_i = 16, doc_j = 3259498
i = 7, query_i = 16, doc_j = 3381417
i = 7, query_i = 16, doc_j = 3554433
i = 7, query_i = 16, doc_j = 2932991
i = 7, query_i = 16, doc_j = 4718379
i = 7, query_i = 16, doc_j = 4220574
i = 7, query_i = 16, doc_j = 3088380
i = 7, query_i = 16, doc_j = 4501520
i = 7, query_i = 16, doc_j = 4377168
i = 7, query_i = 16, doc_j = 3588203
i = 7, query_i = 16, doc_j = 3268758
i = 7, query_i = 16, doc_j = 1824744
i = 7, query_i = 16, doc_j = 2804000
i = 7, query_i = 16, doc_j = 4054527
i = 7, query_i = 16, doc_j = 4731739
i = 7, query_i = 16, doc_j = 3078209
i = 7, query_i = 16, doc_j = 4681963
i = 7, query_i = 16, doc_j = 4738434
i = 7, query_i = 16, doc_j = 4460769
i = 7, query_i = 16, doc_j = 4663880
i = 7, query_i = 16, doc_j = 4653352
i = 7, query_i = 16, doc_j = 2932992
i = 7, query_i = 16, doc_j = 4015694
i = 7, query_i = 16, doc_j = 3616179
i = 7, query_i = 16, doc_j = 4345705
i = 7, query_i = 16, doc_j = 4746356
i = 7, query_i = 16, doc_j = 4427755
i = 7, query_i = 16, doc_j = 3703216
i = 7, query_i = 16, doc_j = 4487382
i = 7, query_i = 16, doc_j = 2913563
i = 7, query_i = 16, doc_j = 2721944
i = 7, query_i = 16, doc_j = 4775775
i = 7, query_i = 16, doc_j = 4623358
i = 7, query_i = 16, doc_j = 3318881
i = 7, query_i = 16, doc_j = 4111645
i = 7, query_i = 16, doc_j = 4359422
i = 7, query_i = 16, doc_j = 3841590
i = 7, query_i = 16, doc_j = 4439712
i = 8, query_i = 17, doc_j = 4726489
i = 8, query_i = 17, doc_j = 4346884
i = 8, query_i = 17, doc_j = 4427946
i = 8, query_i = 17, doc_j = 2839987
i = 8, query_i = 17, doc_j = 116583
i = 8, query_i = 17, doc_j = 3959677
i = 8, query_i = 17, doc_j = 4008252
i = 8, query_i = 17, doc_j = 4157480
i = 8, query_i = 17, doc_j = 3152730
i = 8, query_i = 17, doc_j = 4778408
i = 8, query_i = 17, doc_j = 3904170
i = 8, query_i = 17, doc_j = 3564268
i = 8, query_i = 17, doc_j = 4688652
i = 8, query_i = 17, doc_j = 3821938
i = 8, query_i = 17, doc_j = 4260939
i = 8, query_i = 17, doc_j = 2694468
i = 8, query_i = 17, doc_j = 4531706
i = 8, query_i = 17, doc_j = 4144316
i = 8, query_i = 17, doc_j = 4685986
i = 8, query_i = 17, doc_j = 3598658
i = 8, query_i = 17, doc_j = 4292097
i = 8, query_i = 17, doc_j = 3763648
i = 8, query_i = 17, doc_j = 2964079
i = 8, query_i = 17, doc_j = 4048520
i = 8, query_i = 17, doc_j = 3975538
i = 8, query_i = 17, doc_j = 3682399
i = 8, query_i = 17, doc_j = 3693438
i = 8, query_i = 17, doc_j = 4761166
i = 8, query_i = 17, doc_j = 3297675
i = 8, query_i = 17, doc_j = 1994040
i = 8, query_i = 17, doc_j = 3157010
i = 8, query_i = 17, doc_j = 2453106
i = 8, query_i = 17, doc_j = 2994112
i = 8, query_i = 17, doc_j = 2448669
i = 8, query_i = 17, doc_j = 4310981
i = 8, query_i = 17, doc_j = 4523282
i = 8, query_i = 17, doc_j = 3872084
i = 8, query_i = 17, doc_j = 2386356
i = 8, query_i = 17, doc_j = 3748420
i = 8, query_i = 17, doc_j = 2778641
i = 8, query_i = 17, doc_j = 4767129
i = 8, query_i = 17, doc_j = 4272797
i = 8, query_i = 17, doc_j = 1431598
i = 8, query_i = 17, doc_j = 4651411
i = 8, query_i = 17, doc_j = 3198586
i = 8, query_i = 17, doc_j = 3717078
i = 8, query_i = 17, doc_j = 3905705
i = 8, query_i = 17, doc_j = 3804447
i = 8, query_i = 17, doc_j = 3516003
i = 8, query_i = 17, doc_j = 3864758
i = 9, query_i = 18, doc_j = 3212773
i = 9, query_i = 18, doc_j = 3487877
i = 9, query_i = 18, doc_j = 2783154
i = 9, query_i = 18, doc_j = 2889852
i = 9, query_i = 18, doc_j = 2841416
i = 9, query_i = 18, doc_j = 4435335
i = 9, query_i = 18, doc_j = 4671651
i = 9, query_i = 18, doc_j = 4271008
i = 9, query_i = 18, doc_j = 270051
i = 9, query_i = 18, doc_j = 3981217
i = 9, query_i = 18, doc_j = 3263441
i = 9, query_i = 18, doc_j = 1910597
i = 9, query_i = 18, doc_j = 4493246
i = 9, query_i = 18, doc_j = 4246143
i = 9, query_i = 18, doc_j = 3105562
i = 9, query_i = 18, doc_j = 2718127
i = 9, query_i = 18, doc_j = 2970583
i = 9, query_i = 18, doc_j = 4318824
i = 9, query_i = 18, doc_j = 3146227
i = 9, query_i = 18, doc_j = 3853610
i = 9, query_i = 18, doc_j = 3459815
i = 9, query_i = 18, doc_j = 3789899
i = 9, query_i = 18, doc_j = 4332755
i = 9, query_i = 18, doc_j = 3346969
i = 9, query_i = 18, doc_j = 4693334
i = 9, query_i = 18, doc_j = 4687726
i = 9, query_i = 18, doc_j = 3807848
i = 9, query_i = 18, doc_j = 4324865
i = 9, query_i = 18, doc_j = 4141145
i = 9, query_i = 18, doc_j = 3707825
i = 9, query_i = 18, doc_j = 3075191
i = 9, query_i = 18, doc_j = 4528876
i = 9, query_i = 18, doc_j = 3468117
i = 9, query_i = 18, doc_j = 1963453
i = 9, query_i = 18, doc_j = 4603079
i = 9, query_i = 18, doc_j = 3784234
i = 9, query_i = 18, doc_j = 3133981
i = 9, query_i = 18, doc_j = 2151951
i = 9, query_i = 18, doc_j = 4260110
i = 9, query_i = 18, doc_j = 4399116
i = 9, query_i = 18, doc_j = 4255922
i = 9, query_i = 18, doc_j = 2988905
i = 9, query_i = 18, doc_j = 4452083
i = 9, query_i = 18, doc_j = 4506025
i = 9, query_i = 18, doc_j = 3576789
i = 9, query_i = 18, doc_j = 4306086
i = 9, query_i = 18, doc_j = 4411411
i = 9, query_i = 18, doc_j = 3687427
i = 9, query_i = 18, doc_j = 4345705
i = 9, query_i = 18, doc_j = 3437809
i = 10, query_i = 20, doc_j = 3878513
i = 10, query_i = 20, doc_j = 2687696
i = 10, query_i = 20, doc_j = 2976516
i = 10, query_i = 20, doc_j = 3542894
i = 10, query_i = 20, doc_j = 3471415
i = 10, query_i = 20, doc_j = 4306086
i = 10, query_i = 20, doc_j = 2806879
i = 10, query_i = 20, doc_j = 3789899
i = 10, query_i = 20, doc_j = 3468117
i = 10, query_i = 20, doc_j = 4030609
i = 10, query_i = 20, doc_j = 2734930
i = 10, query_i = 20, doc_j = 4208387
i = 10, query_i = 20, doc_j = 2975006
i = 10, query_i = 20, doc_j = 4004840
i = 10, query_i = 20, doc_j = 4307701
i = 10, query_i = 20, doc_j = 4055825
i = 10, query_i = 20, doc_j = 4350044
i = 10, query_i = 20, doc_j = 3807848
i = 10, query_i = 20, doc_j = 4311366
i = 10, query_i = 20, doc_j = 4693334
i = 10, query_i = 20, doc_j = 4100233
i = 10, query_i = 20, doc_j = 3861473
i = 10, query_i = 20, doc_j = 3783665
i = 10, query_i = 20, doc_j = 4493246
i = 10, query_i = 20, doc_j = 3194022
i = 10, query_i = 20, doc_j = 4150433
i = 10, query_i = 20, doc_j = 4567608
i = 10, query_i = 20, doc_j = 4291447
i = 10, query_i = 20, doc_j = 4291452
i = 10, query_i = 20, doc_j = 4107321
i = 10, query_i = 20, doc_j = 4710924
i = 10, query_i = 20, doc_j = 3964275
i = 10, query_i = 20, doc_j = 2779365
i = 10, query_i = 20, doc_j = 4099121
i = 10, query_i = 20, doc_j = 4411411
i = 10, query_i = 20, doc_j = 3269105
i = 10, query_i = 20, doc_j = 3161837
i = 10, query_i = 20, doc_j = 2783154
i = 10, query_i = 20, doc_j = 2936924
i = 10, query_i = 20, doc_j = 3746058
i = 10, query_i = 20, doc_j = 3383135
i = 10, query_i = 20, doc_j = 4671447
i = 10, query_i = 20, doc_j = 4478270
i = 10, query_i = 20, doc_j = 3954265
i = 10, query_i = 20, doc_j = 3014831
i = 10, query_i = 20, doc_j = 3853610

In [52]:
predict_total = []
predict = []

for i in range(len(test_query['topic'])):
    predict_total.append(len(result[i]))
    predict.append(' '.join(list(map(str, sorted(result[i])))))

In [59]:
final_result = pd.DataFrame({'topic':test_query['topic'], 'doc':predict})
final_result

    topic                                                doc
0       1  2553427 2584651 2621231 2759587 2759595 276255...
1       3  1388220 1766477 2413407 2685234 2686344 290672...
2       5  1533809 2672232 2672256 2703746 2722154 279435...
3       7  2525846 2629012 2668557 2700561 2714572 284297...
4       8  2503962 2700560 2726557 2737796 2766584 279938...
5      10  2588582 2612686 2691928 2702896 2721944 277929...
6      12  60654 1277011 1824744 1847685 2650615 2650997 ...
7      16  2223623 2612685 2919999 2962298 3033825 305672...
8      17  1196471 1800858 2386356 2596799 2684430 271195...
9      18  130966 183850 2735159 2835690 2914738 3150839 ...
10     20  1665312 1940016 2627450 2726551 2740148 276934...
11     21  1800858 2500255 2522257 2577643 2672301 272655...
12     27  116583 1199590 1431598 1431601 1569901 1994040...
13     28  59612 1087861 1502045 1569901 2490806 2659603 ...
14     29  59612 1087861 1196471 1977847 2291330 2503962 ...

In [60]:
final_result.to_csv('dataset/result1.csv', index=False)